<?xml version="1.0" encoding="UTF-8"?>
	<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<servlet>
		<servlet-name>LogLet</servlet-name>
		<servlet-class>com.servlet.LogLet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegLet</servlet-name>
		<servlet-class>com.servlet.RegLet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreateCompany</servlet-name>
		<servlet-class>com.servlet.CreateCompany</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserInfo</servlet-name>
		<servlet-class>com.servlet.UpdateUserInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateDepartMent</servlet-name>
		<servlet-class>com.servlet.CreateDepartMent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateManager</servlet-name>
		<servlet-class>com.servlet.CreateManager</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryCompany</servlet-name>
		<servlet-class>com.servlet.QueryCompany</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateRoom</servlet-name>
		<servlet-class>com.servlet.CreateRoom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateDailySign</servlet-name>
		<servlet-class>com.servlet.CreateDailySign</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateApproval</servlet-name>
		<servlet-class>com.servlet.CreateApproval</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateApproval</servlet-name>
		<servlet-class>com.servlet.UpdateApproval</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryApproval</servlet-name>
		<servlet-class>com.servlet.QueryApproval</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateNotice</servlet-name>
		<servlet-class>com.servlet.CreateNotice</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryNotice</servlet-name>
		<servlet-class>com.servlet.QueryNotice</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateNotice</servlet-name>
		<servlet-class>com.servlet.UpdateNotice</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogLet</servlet-name>
		<url-pattern>/LogLet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegLet</servlet-name>
		<url-pattern>/RegLet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreateCompany</servlet-name>
		<url-pattern>/CreateCompany</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserInfo</servlet-name>
		<url-pattern>/UpdateUserInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateDepartMent</servlet-name>
		<url-pattern>/CreateDepartMent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateManager</servlet-name>
		<url-pattern>/CreateManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryCompany</servlet-name>
		<url-pattern>/QueryCompany</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateRoom</servlet-name>
		<url-pattern>/CreateRoom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateDailySign</servlet-name>
		<url-pattern>/CreateDailySign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateApproval</servlet-name>
		<url-pattern>/CreateApproval</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateApproval</servlet-name>
		<url-pattern>/UpdateApproval</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryApproval</servlet-name>
		<url-pattern>/QueryApproval</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNotice</servlet-name>
		<url-pattern>/CreateNotice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryNotice</servlet-name>
		<url-pattern>/QueryNotice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateNotice</servlet-name>
		<url-pattern>/UpdateNotice</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>